#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1
export VERSION="$(DEB_VERSION_UPSTREAM)"
export BUILD_WITH_CONTAINER=0
export TAG="$(DEB_VERSION_UPSTREAM)"
export GOPATH=$(CURDIR)/debian/go_build
export GOCACHE=$(CURDIR)/debian/go_cache
%:
	dh $@

override_dh_auto_clean:
	rm -rf $(CURDIR)/debian/go_build

override_dh_auto_build:
	mkdir $(CURDIR)/debian/go_build
	mkdir $(CURDIR)/debian/go_cache
	make build-linux

override_dh_auto_test:
	# We don't need to run tests and old-ish
	# versions of Istio (like 1.9.5) have some
	# troubles with dependencies. When upgrading
	# to a more recent version this override can
	# be probably removed.
